body {
    font-family: Arial, Helvetica, sans-serif;
}

.ag-tool-panel-wrapper {
    min-width: 400px;
}

.ag-tool-panel-wrapper .ag-react-container {
    width: 100%;
}

form {
    padding: 20px;
}

form label {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 5px 0;
}

form .my-form-control {
    margin: 10px;
}